body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#stopwatch{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: auto;
    border: 2px solid black;
    border-radius: 50px;
    padding: 15px;
    background-color: rgb(253, 242, 123);
}

#displayTime{
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif;
}

.btn{
    font-size: 20px;
    padding: 8px;
    margin: 5px;
    padding-bottom: 10px;
    border: none;
    border-radius: 15px;
}
